html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
}

.controls {
  z-index: 100;
  background: #000;
  display: flex;
}

.controls div {
  text-align: center;
  width: 100%;
}

.display {
  background: #000000;
  background: rgb(12,50,24);
  background: linear-gradient(299deg, rgba(12,50,24,1) 0%, rgba(9,27,36,1) 49%, rgba(61,15,41,1) 100%);
}
